body{
  font-family: sans-serif;
}
p{
  margin: 0 25%;
  margin-bottom: 1em;
}
h1{
  text-align: center;
}
h2{
  text-align: center;
}
h3{
  text-align: center;
}
.fortune-wrapper {
  width: 600px;
  height: 300px;
  display: block;
  padding: 50px;
  margin:0 auto;
}
.fortune {
  width: 500px;
  height: 200px;
  display: block;
  position: relative;
  -webkit-transform-origin: 40% 50%;
          transform-origin: 40% 50%;
  top: 50px;
  left: 100px;
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
}
.fortune-left {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 0;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/77607/cookie-left.png");
  background-repeat: no-repeat;
  background-position: right center;
  z-index: 1;
}
.fortune-right {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 190px;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/77607/cookie-right.png");
  background-position: 20px 20px;
  background-repeat: no-repeat;
  background-position: left center;
  z-index: 3;
}
.fortune-message {
  display:block;
  position: absolute;
  left: -150px;
  right: 180px;
  top: 50px;
  bottom: 65px;
  font-style: italic;
  z-index: 2;
  overflow: hidden;
  -webkit-transform: rotateZ(8deg);
  transform: rotateZ(8deg);
}
.fortune-message span {
/*  overflow:visible;*/
  display: block;
  background-color: #fff;
  padding: 8px 65px 7px 15px;
/*  white-space: nowrap;*/
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  -webkit-transform-origin: right bottom;
          transform-origin: right bottom;
  position: absolute;
  bottom: 20px;
  right: 10px;
}
#text{
  display: block;
  margin:0 auto;
}